/* Background */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%; }

body {
  background-image: linear-gradient(to right top, rgba(41, 124, 197, 0.6), #297cc5);
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  z-index: 100;
  width: 100%;
  position: fixed; }

main {
  padding-top: 4rem;
  width: 1050px; }

.container-fluid {
  background-color: #297cc5; }

.navbar-toggler {
  background-color: #297cc5; }

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: azure;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a; }
  .container .container_box--color {
    background-color: azure; }

.container-2 {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

.container_box--nosotros {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: lightblue;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a; }

.posicionImagen {
  width: 30rem;
  background-color: transparent;
  padding: 2rem 4rem;
  margin: 1rem 5rem; }

div.imgAnim:hover {
  transform: scale(1.1); }

#carouselExampleControls {
  display: flex;
  justify-content: center;
  margin: 5rem 18rem; }

.carousel {
  display: flex;
  justify-content: center; }

.container_box--carrousel {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100rem;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a; }

.container_box--align {
  justify-items: center;
  align-items: flex-start;
  background-color: moccasin;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a; }
  .container_box--align p.container-3 {
    background-color: none; }

table {
  padding: 1rem;
  margin: 3rem 3rem 3rem 10rem;
  width: 30rem;
  height: 30rem;
  font-size: 2rem;
  background-color: azure;
  border: solid 0.5rem #043057; }
  table th {
    padding: 5rem;
    width: 5rem;
    height: 5rem;
    background-color: #043057;
    color: seashell;
    border-bottom: 1rem solid #4486c2; }
  table td {
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: lightyellow; }
  table .tabla {
    background-color: azure; }

.form-class {
  margin: 1rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: lightblue;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a;
  height: 55rem;
  justify-content: center; }

.mb-3 {
  background-color: lightblue; }

.form-label {
  margin: 1rem 10rem;
  width: 20rem;
  padding: 0;
  font-size: 1.5rem;
  background-color: lightblue; }

.form-control {
  margin: 1rem 10rem;
  width: 50rem;
  padding: 2rem 1rem; }

.form-check-label {
  background-color: lightblue; }

.form-check {
  margin: 1rem 12rem;
  width: 50rem;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  background-color: lightblue; }

.btn {
  width: 10rem;
  margin: 1rem 10rem;
  font-size: 1.5rem; }

form div.sendButton:hover {
  padding: 0px 0px;
  width: 120px;
  height: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #084d8a; }

.ul_servicios {
  margin-bottom: 5rem;
  padding: 2rem 15rem 5rem 15rem;
  font-size: 2rem;
  border-bottom: solid 1px #043057;
  display: flex;
  flex-flow: column nowrap;
  list-style-image: url(https://img.flaticon.com/icons/png/512/61/61222.png?size=20x20f&pad=10,10,10,10&ext=png&bg=);
  color: #043057; }

.ul_medio {
  margin-bottom: 3rem;
  margin-left: 2em;
  background-image: linear-gradient(rgba(41, 124, 197, 0.6), #297cc5);
  padding: 5rem;
  padding-left: 2rem;
  box-shadow: 4px 4px #043057;
  color: azure; }
  .ul_medio li {
    margin-bottom: 2rem; }

.container_box--spin {
  padding: 23px 5px;
  margin: 1.2rem 15rem;
  width: 100rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: azure;
  border: 0.5rem solid #084d8a;
  border-top: 5rem solid #084d8a; }
  .container_box--spin .spinner-border {
    width: 50px;
    height: 50px; }
  .container_box--spin .spinner-border:hover {
    width: 80px;
    height: 80px;
    background-color: green; }
  .container_box--spin .container_box--spinbuttons {
    display: flex;
    flex-flow: row; }

.pos-f-t {
  background-color: #297cc5; }

#grid {
  display: grid;
  grid-template-areas: "nav nav nav" "main main aside" "footer footer footer";
  grid-column-gap: 1px;
  grid-row-gap: 2px; }

#grid_center {
  padding-top: 40px;
  justify-content: center;
  width: 95vw; }

.grid_section--1 {
  justify-content: center;
  width: 100vw; }

#grid_contact {
  display: grid;
  grid-template-areas: "nav nav nav" "main main aside" "footer footer footer";
  grid-column-gap: 1px;
  grid-row-gap: 2px; }

.navbar {
  padding: 0px 0px; }

.container-fluid {
  display: flex;
  border-bottom: solid #043057;
  background-color: rgba(41, 124, 197, 0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }

#navbarText {
  padding-left: 3rem; }

.navbar-brand {
  font-size: 3rem; }

.nav-link {
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  font-weight: 400;
  display: flex;
  list-style-type: none;
  grid-area: nav; }

.active {
  font-weight: 600; }

.nav-link:hover {
  background-image: linear-gradient(to left top, #0d6efd, #dceaff);
  display: flex;
  color: #043057;
  padding: 16px 13px;
  width: 200px;
  height: 70px;
  align-items: center; }

.nav_menu {
  height: 7rem;
  display: block;
  border-bottom: solid #043057; }
  .nav_menu .nav_ul {
    margin-top: 0px;
    padding: 0px 4px 0px 20px;
    font-weight: 600;
    display: flex;
    list-style-type: none;
    grid-area: nav; }
    .nav_menu .nav_ul li {
      padding: 0px 50px;
      margin: 0; }
    .nav_menu .nav_ul a {
      font-size: 3rem;
      padding: 18px 13px;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #043057; }
    .nav_menu .nav_ul a:hover {
      background-image: linear-gradient(to left top, #0d6efd, #dceaff);
      display: flex;
      padding: 16px 13px;
      width: 200px;
      height: 70px; }

aside {
  background-image: linear-gradient(to right top, rgba(4, 48, 87, 0.3), #043057);
  grid-area: aside;
  display: flex;
  flex-flow: row;
  position: relative;
  right: 0;
  padding-top: 5rem;
  width: 43vh;
  height: 100%;
  grid-row: 1/4;
  color: lightyellow;
  z-index: 1; }

.aside_p {
  padding: 5rem; }

.aside_p--size {
  margin: 0px;
  padding: 3rem; }

.aside_p--animation {
  margin-top: 2rem;
  background-image: linear-gradient(to left top, rgba(4, 48, 87, 0), rgba(4, 48, 87, 0.3));
  box-shadow: 4px 4px #043057;
  z-index: 3; }

.aside_p--animation:hover {
  background-image: linear-gradient(to left top, #0d6efd, #dceaff);
  cursor: default; }

footer {
  grid-area: footer;
  margin: 0rem;
  padding: 4rem 0rem 0rem 2rem;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  border-top: solid #043057;
  background-color: transparent;
  color: azure; }
  footer .footer_ul {
    margin-right: 10px;
    padding: 0px 4px 0px 20px;
    font-weight: 600;
    display: flex;
    list-style-type: none;
    grid-area: nav; }
    footer .footer_ul .footer_li {
      color: azure;
      text-decoration: none;
      padding: 0px 4px 0px 30px; }

.footer_box--gradient {
  background-image: linear-gradient(#4486c2, #043057);
  margin: 0;
  padding: 15px 0px;
  z-index: 2; }

h1 {
  margin: 3rem;
  font-size: 8rem;
  letter-spacing: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #043057;
  text-align: center; }

h2 {
  font-size: 3.5rem;
  padding: 2rem 4rem;
  margin: 1rem 5rem; }

h3 {
  font-size: 3rem; }

p {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 2rem 4rem;
  margin: 1rem 5rem;
  font-size: 2rem; }

.container_p--bold {
  font-weight: 600;
  background-color: azure; }

@media (max-width: 768px) {
  #grid {
    display: grid;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
    grid-column-gap: 1px;
    grid-row-gap: 2px; }
  #grid_center {
    padding-top: 30px; }
  main {
    justify-content: center;
    width: 768px; }
  html {
    font-size: 50%; }
  .container-fluid {
    margin: 0;
    width: 685px; }
  .form-class {
    width: 67.5rem;
    padding: 0;
    margin-left: 9rem; }
  .tabla {
    transform: scale(85%); }
  .ul_medio {
    width: 67.5rem;
    padding: 0;
    margin-left: 9rem; }
  .container {
    width: 67.5rem;
    padding: 0;
    margin-left: 9rem; }
  .container_box--carrousel {
    margin: 1.2rem 3rem;
    width: 67.5rem;
    border: 0.5rem solid #084d8a;
    border-top: 5rem solid #084d8a; }
  .aside {
    display: none;
    z-index: -1; }
  .aside_p {
    display: none; }
  h1 {
    margin-left: 8rem;
    font-size: 6.5rem;
    letter-spacing: 2rem;
    font-weight: 400;
    font-style: italic;
    color: #043057;
    text-align: left; } }

@media (max-width: 411px) {
  #grid {
    display: grid;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
    grid-column-gap: 1px;
    grid-row-gap: 2px; }
  #grid_center {
    padding-top: 30px; }
  main {
    justify-content: center;
    width: 411px; }
  html {
    font-size: 50%; }
  .container-fluid {
    margin: 0;
    width: 411px; }
  .ul_medio {
    width: 45rem;
    padding: 0;
    margin-left: 4rem; }
  .container {
    width: 45rem;
    padding: 0;
    margin-left: 4rem; }
  #carouselExampleControls {
    padding: 0;
    margin-left: 4rem; }
  .container_box--carrousel {
    width: 45rem;
    border: 0.5rem solid #084d8a;
    border-top: 5rem solid #084d8a; }
  .form-class {
    width: 45rem;
    padding: 0;
    margin-left: 4rem; }
  .form-label {
    margin: 1rem 5rem; }
  .form-control {
    margin: 1rem 5rem;
    width: 35rem; }
  .form-check {
    margin: 1rem 6rem;
    width: 35rem; }
  .btn {
    margin: 1rem 15rem;
    font-size: 1.5rem; }
  table {
    margin: 0; }
  .tabla {
    transform: scale(70%); }
  .aside {
    display: none;
    z-index: -1; }
  .aside_p {
    display: none; }
  .img_work {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 654,3px; }
  h1 {
    margin-left: 7rem;
    font-size: 4rem;
    letter-spacing: 2rem;
    font-weight: 400;
    font-style: italic;
    color: #043057;
    text-align: center; }
  h2 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem; }
  h3 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem; }
  p {
    margin: 0;
    padding: 4rem; } }

/*Creamos el bucle para usar los valores del mapa*/
.btn--continuar {
  background-color: #55acee; }

.btn--atras {
  background-color: #3a5795; }

.btn--send-mail {
  background-color: #C25E30; }
