@import "variables"; 


@media (max-width:768px) {

// Grids ///
    
    #grid {
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "footer footer footer";
        grid-column-gap: 1px ;
        grid-row-gap: 2px;
    }
    
    #grid_center {
        padding-top: 30px;
    }

    main {
        justify-content: center;
        width: 768px;
    }

    html {
        font-size: 50%;
    }

    // nav

    .container-fluid {
        margin: 0;
        width: 685px;
    }
    
    //containers

    .form-class {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    } 

    .tabla {
        transform: scale(85%);
    }

    .ul_medio {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    }
    
    .container {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    }

    .container_box--carrousel {
        margin: 1.2rem 3rem;
        width: 67.5rem;
        border: 0.5rem solid rgb(8, 77, 138);
        border-top: 5rem solid rgb(8, 77, 138);
    }


    .aside {
        display: none; 
        z-index: -1;  
    }

    .aside_p {
        display: none;
    }
    
    // typo

    h1 {
        margin-left: 8rem;
        font-size: 6.5rem;
        letter-spacing: 2rem;
        font-weight: 400;
        font-style: italic;
        color: $shadows;
        text-align: left;    
    }

   

}

@media (max-width:411px) {
   // Grids ///
    
   #grid {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-column-gap: 1px ;
    grid-row-gap: 2px;
}

#grid_center {
    padding-top: 30px;
}

main {
    justify-content: center;
    width: 411px;
}

html {
    font-size: 50%;
}

// nav

.container-fluid {
    margin: 0;
    width: 411px;
}

//containers

.ul_medio {
    width: 45rem;
    padding: 0;
    margin-left: 4rem;
}

.container {
    width: 45rem;
    padding: 0;
    margin-left: 4rem;
}

 #carouselExampleControls {
    padding: 0;
    margin-left: 4rem;
 }

.container_box--carrousel {
    width: 45rem;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);
}


// form

.form-class {
    width: 45rem;
    padding: 0;
    margin-left: 4rem;
} 

.form-label {
    margin: 1rem 5rem;
}

.form-control {
    margin: 1rem 5rem;
    width: 35rem;
}

.form-check {
    margin: 1rem 6rem;
    width: 35rem;
}

.btn {
    margin: 1rem 15rem;
    font-size: 1.5rem;
}

// tabla

table {
    margin: 0;
}

.tabla {
    transform: scale(70%);
    
}

// aside

.aside {
    display: none; 
    z-index: -1;  
}

.aside_p {
    display: none;
}

// images

.img_work {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 654,3px;
}

// typo

h1 {
    margin-left: 7rem;
    font-size: 4rem;
    letter-spacing: 2rem;
    font-weight: 400;
    font-style: italic;
    color: $shadows;
    text-align: center;    
}

h2 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem;
}

p {
    margin: 0;
    padding: 4rem;
}


} 