@import "variables"; 


@media (max-width:769px) {

#grid {
    grid-template-columns: 100 0;
    grid-template-rows: 10fr 0fr 9rem ;    
}

main {
    justify-content: center;
}

html {
    font-size: 50%;
}

// nav    

.container-fluid {
    padding-right: 9rem;
}

// sections   

   section {
    grid-column: 1/3;
    grid-row: 1/2;
}

    aside {
    grid-row: 2/3;
    display: none;
    }

    footer {
        grid-row: 3/4;
    }

    //containers

    .form-class {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    } 

    .tabla {
        transform: scale(85%);
    }

    .ul_medio {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    }
    
    .container {
        width: 67.5rem;
        padding: 0;
        margin-left: 9rem;
    }

    .container_box--carrousel {
        margin: 1.2rem 3rem;
        width: 67.5rem;
        border: 0.5rem solid rgb(8, 77, 138);
        border-top: 5rem solid rgb(8, 77, 138);
    }

    // typo

    h1 {
        margin-left: 8rem;
        font-size: 6.5rem;
        letter-spacing: 2rem;
        font-weight: 400;
        font-style: italic;
        color: $shadows;
        text-align: left;    
    }
}


@media (max-width:487px) {
    // Grids
    
    #grid {
        grid-template-columns: 100;
        grid-template-rows: 10fr 0fr 9rem ;    
    }
    
    main {
        justify-content: center;
    }
    
    html {
        font-size: 50%;
    }
    
    
    // sections   
    
    section {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
        aside {
        grid-row: 2/3;
        display: none;
        }
    
        footer {
            grid-row: 3/4;
        }
    
    //containers
    
    .ul_medio {
        width: 45rem;
        padding: 0;
        margin-left: 2rem;
    }
    
    .container {
        width: 45rem;
        padding: 0;
        margin-left: 2rem;
    }
    
     #carouselExampleControls {
        padding: 0;
        margin-left: 2rem;
     }
    
    .container_box--carrousel {
        width: 45rem;
        border: 0.5rem solid rgb(8, 77, 138);
        border-top: 5rem solid rgb(8, 77, 138);
    }
    
    
    // form
    
    .form-class {
        width: 45rem;
        padding: 0;
        margin-left: 2rem;
    } 
    
    .form-label {
        margin: 1rem 5rem;
    }
    
    .form-control {
        margin: 1rem 5rem;
        width: 30rem;
    }
    
    .form-check {
        margin: 1rem 6rem;
        width: 30rem;
    }
    
    .btn {
        margin: 1rem 15rem;
        font-size: 1.5rem;
    }
    
    
    // tabla
    
    table {
        margin: 0;
    }
    
    .tabla {
        transform: scale(70%);
        
    }
    
    // images
    
    .img_work {
        margin: 0;
        padding: 0;
        width: 360px;
        height: 654,3px;
    }
    
    // typo
    
    h1 {
        margin-left: 7rem;
        font-size: 4rem;
        letter-spacing: 2rem;
        font-weight: 400;
        font-style: italic;
        color: $shadows;
        text-align: center;    
    }
    
    h2 {
        text-align: center;
        margin: 0;
        padding: 4rem 4rem 0rem 4rem;
    }
    
    h3 {
        text-align: center;
        margin: 0;
        padding: 4rem 4rem 0rem 4rem;
    }
    
    p {
        margin: 0;
        padding: 4rem;
    }
    
    
        
    }
    

@media (max-width:411px) {
// Grids

#grid {
    grid-template-columns: 100;
    grid-template-rows: 10fr 0fr 9rem ;    
}

main {
    justify-content: center;
}

html {
    font-size: 50%;
}


// sections   

section {
    grid-column: 1/3;
    grid-row: 1/2;
}

    aside {
    grid-row: 2/3;
    display: none;
    }

    footer {
        grid-row: 3/4;
    }

//containers

.ul_medio {
    width: 40rem;
    padding: 0;
    margin-left: 2rem;
}

.container {
    width: 40rem;
    padding: 0;
    margin-left: 2rem;
}

 #carouselExampleControls {
    padding: 0;
    margin-left: 4rem;
 }

.container_box--carrousel {
    width: 35rem;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);
}


// form

.form-class {
    width: 40rem;
    padding: 0;
    margin-left: 2rem;
} 

.form-label {
    margin: 1rem 5rem;
}

.form-control {
    margin: 1rem 5rem;
    width: 25rem;
}

.form-check {
    margin: 1rem 6rem;
    width: 25rem;
}

.btn {
    margin: 1rem 15rem;
    font-size: 1.5rem;
}


// tabla

table {
    margin: 0;
}

.tabla {
    transform: scale(70%);
    
}

// images

.img_work {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 654,3px;
}

// typo

h1 {
    margin-left: 7rem;
    font-size: 4rem;
    letter-spacing: 2rem;
    font-weight: 400;
    font-style: italic;
    color: $shadows;
    text-align: center;    
}

h2 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 4rem 4rem 0rem 4rem;
}

p {
    margin: 0;
    padding: 4rem;
}


    
}

@media (max-width:360px) {
    // Grids
    
    #grid {
        grid-template-columns: 100 0;
        grid-template-rows: 10fr 0fr 9rem ;    
    }
    
    main {
        justify-content: center;
    }
    
    html {
        font-size: 50%;
    }
    
    // nav    
    
    .container-fluid {
        padding-right: 9rem;
    }
    
    // sections   
    
    section {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
        aside {
        grid-row: 2/3;
        display: none;
        }
    
        footer {
            grid-column: 1/3;
            grid-row: 3/4;
        }
    
    //containers
    
    .ul_medio {
        width: 35rem;
        padding: 0;
        margin-left: 1rem;
    }
    
    .container {
        width: 35rem;
        padding: 0;
        margin-left: 1rem;
    }
    
     #carouselExampleControls {
        padding: 0;
        margin-left: 1rem;
     }
    
    .container_box--carrousel {
        width: 35rem;
        border: 0.5rem solid rgb(8, 77, 138);
        border-top: 5rem solid rgb(8, 77, 138);
    }
    
    
    // form
    
    .form-class {
        width: 35rem;
        padding: 0;
        margin-left: 1rem;
    } 
    
    .form-label {
        margin: 1rem 5rem;
    }
    
    .form-control {
        margin: 1rem 5rem;
        width: 25rem;
    }
    
    .form-check {
        margin: 1rem 6rem;
        width: 25rem;
    }
    
    .btn {
        margin: 1rem 15rem;
        font-size: 1.5rem;
    }
    
    
    // tabla
    
    table {
        margin: 0;
    }
    
    .tabla {
        transform: scale(60%);
        
    }
    
    // images
    
    .img_work {
        margin: 0;
        padding: 0;
        width: 360px;
        height: 654,3px;
    }
    
    // typo
    
    h1 {
        margin-left: 7rem;
        font-size: 4rem;
        letter-spacing: 2rem;
        font-weight: 400;
        font-style: italic;
        color: $shadows;
        text-align: center;    
    }
    
    h2 {
        text-align: center;
        margin: 0;
        padding: 4rem 4rem 0rem 4rem;
    }
    
    h3 {
        text-align: center;
        margin: 0;
        padding: 4rem 4rem 0rem 4rem;
    }
    
    p {
        margin: 0;
        padding: 4rem;
    }
    
    
        
    }