@import "variables";

/* Background */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to right top,$back,$back_claro);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    z-index: 100;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 5rem;
    width: 100%;
}



// Nav

.container-fluid {
    background-color:  $nav_color;
}

.navbar {
    padding: 0px 0px;
}

.container-fluid {
    display: flex;
    border-bottom: solid rgb(4, 48, 87);
    background-color: $back;    
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#navbarText {
    padding-left: 3rem;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-link {
    margin-top: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: 400;
    display: flex;
    list-style-type: none;
    grid-area: nav;
}

.active {
    font-weight: 600;
}

.nav-link:hover {
    background-image: linear-gradient(to left top,#0d6efd,#dceaff) ;
    display: flex;
    color: rgb(4, 48, 87);
    padding: 16px 13px;
    width: 200px;
    height: 70px;
    align-items: center;
}

.nav_menu {
    height: 7rem;
    display: block;
    border-bottom: solid rgb(4, 48, 87);

    .nav_ul {
        margin-top: 0px;
        padding: 0px 4px 0px 20px;
        font-weight: 600;
        display: flex;
        list-style-type: none;
        grid-area: nav;
        
        li {
            padding: 0px 50px;
            margin: 0;
        }

        a {
            font-size: 3rem;
            padding: 18px 13px;
            display: flex;
            text-align: center;
            text-decoration: none;
            color: rgb(4, 48, 87);
        }
        a:hover {
            background-image: linear-gradient(to left top,#0d6efd,#dceaff) ;
            display: flex;
            padding: 16px 13px;
            width: 200px;
            height: 70px;
        }

    }
}


.navbar-toggler {
    background-color:  $nav_color;
}

// section

section {
    padding: 1rem 5rem;
}

// Containers Area

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;    
    background-color: azure;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);

    .container_box--color {
        background-color: azure;
    }
}

.container-2 {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.container_box--nosotros {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;    
    background-color: lightblue;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);
}

// Img transition and styles properties

// Images position 

.posicionImagen {
    width: 30rem;
    background-color: transparent;
    padding: 2rem 4rem ;
    margin: 1rem 5rem;
}

// Image Animation 

div.imgAnim:hover {
    transform: scale(1.1);
}

// Carousel css properties

#carouselExampleControls {
    display: flex;
    justify-content: center;
    margin: 5rem 18rem ;
}

.carousel {
    display: flex;
    justify-content: center;
}

.container_box--carrousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100rem;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);
}


.container_box--align {
    justify-items: center;
    align-items: flex-start;
    background-color: moccasin;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);

    p.container-3 {
        background-color: none;
    }
}


// Table styles

table {
    padding: 1rem;
    margin: 3rem 3rem 3rem 10rem;
    width: 30rem;
    height: 30rem;
    font-size: 2rem;
    background-color: azure;
    border: solid 0.5rem rgb(4, 48, 87);

    th {
        padding: 5rem;
        width: 5rem;
        height: 5rem;
        background-color:rgb(4, 48, 87);
        color: seashell;
        border-bottom: 1rem solid rgb(68,  134, 194);
    }
    td {
        padding: 2rem;
        width: 2rem;
        height: 2rem;
        background-color: lightyellow;
    }
    .tabla {
        background-color: azure;
    }
}

// Form porperties

.form-class {
    margin: 1rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    background-color: lightblue;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138); 
    height: 55rem;
    justify-content: center;
}


.mb-3 {
    background-color: lightblue;
}

.form-label {
    margin: 1rem 10rem;
    width: 20rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: lightblue;
}

.form-control {
    margin: 1rem 10rem;
    width: 50rem;
    padding: 2rem 1rem;
  }

.form-check-label {
    background-color: lightblue;
}
  
.form-check {
    margin: 1rem 12rem;
    width: 50rem;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    background-color: lightblue;
  }

.btn {
    width: 10rem;
    margin: 1rem 10rem;
    font-size: 1.5rem;
}

form div.sendButton:hover {
    padding: 0px 0px;
    width: 120px;
    height: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: rgb(8, 77, 138);
}

// ul sections

.ul_servicios {
    margin-bottom: 5rem;
    padding: 2rem 15rem 5rem 15rem;
    font-size: 2rem;
    border-bottom: solid 1px $shadows;
    display: flex;
    flex-flow: column nowrap;
    list-style-image: url(https://img.flaticon.com/icons/png/512/61/61222.png?size=20x20f&pad=10,10,10,10&ext=png&bg=);
    color: $shadows;
}

.ul_medio {
    margin-bottom: 3rem;
    margin-left: 2em;
    background-image: linear-gradient($back,$back_claro);
    padding: 5rem;
    padding-left: 2rem;
    box-shadow: 4px 4px $shadows;
    color: $back_container;

        
    li {
        margin-bottom: 2rem;
    }
}

// Loading page containers

.container_box--spin {
    padding: 23px 5px;
    margin: 1.2rem 15rem;
    width: 100rem;
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;    
    background-color: azure;
    border: 0.5rem solid rgb(8, 77, 138);
    border-top: 5rem solid rgb(8, 77, 138);

    .spinner-border {
        width: 50px;
        height: 50px;
    }

    .spinner-border:hover {
        width: 80px;
        height: 80px;
        background-color: green;
    }

    .container_box--spinbuttons {
        display: flex;
        flex-flow: row;
    }
}

.pos-f-t {
    background-color: rgb(41, 124, 197) 
}