@import "variables"; 

// Default Typo styles

h1 {
    margin: 3rem;
    font-size: 8rem;
    letter-spacing: 1rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(4, 48, 87);
    text-align: center;    
}

h2 {
    font-size: 3.5rem;
    padding: 2rem 4rem ;
    margin: 1rem 5rem;
}

h3 {
    font-size: 3rem;
}

p  {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 2rem 4rem ;
    margin: 1rem 5rem;
    font-size: 2rem;
}


// Typo style in containers

.container_p--bold {
    font-weight: 600;
    background-color: azure;
}
