// Aside poperties
$back: rgba(41, 124, 197,0.6);
$back_claro: rgba(41, 124, 197,1);


// Nav variables
$nav_color: rgb(41, 124, 197);

//Extra colours
$shadows: rgb(4, 48, 87);
$back_container: azure;
